<div class="promo-ad">

    <h4 class="promo-ad__title">You May Also Enjoy</h4> 
    <div class="promo-ad__posts">

        {{#each articles}}
            {{> @article-promo }}
        {{/each}}
    </div>
</div>