<section class="author-card">
    <img src="/images/bryan-and-link.jpg" alt="" class="author__headshot">
    <h5 class="author__headline">By Bryan Robinson</h5>
    <ul class="author__socials">
        <li class="author__socials__item">How you can support me: <a href="https://www.patreon.com/bePatron?u=21203851" data-patreon-widget-type="become-patron-button">Become a Patron!</a></li>
        <div class="follow">Follow Me: 
            <li class="author__socials__item"><a href="http://twitter.com/brob">@brob</a></li> | 
            <li class="author__socials__item"><a href="https://goo.gl/wCeu5C">
            YouTube
            </a></li>
        </div>
    </ul>
</section>