<footer class="footer">

    <h4 class="sides__header">My Side Projects</h4>
    <section class="sides">
        <a class="sides__item" href="http://memphiswebworkers.com"><img src="/images/sides/side-webworkers.png" alt="Web Workers Logo"></a>
        <a class="sides__item" href="http://codecontemporary.com"><img src="/images/sides/side-cc.png" alt="Web Workers Logo"></a>
        <a class="sides__item" href="http://memphistechnology.org"><img src="/images/sides/side-mtf.png" alt="Web Workers Logo"></a>
        <a class="sides__item" href="http://hackmemphis.com"><img src="/images/sides/side-hm.png" alt="Web Workers Logo"></a>
    </section>

   

    <script type="text/javascript" src="/js/prism.js"></script>

</footer>
<section class="copyright">
    &copy 2018 Bryan L. Robinson
</section>
{% if page.is_post %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url | replace "/", "" }}{{ page.url }}"
  },
  "headline": "{{ page.title }}",
  {% if page.featuredImg %}
  "image": {
    "@type": "ImageObject",
    "url": "{{ site.url | replace "/", "" }}{{ page.featuredImg }}",
    "height": 800,
    "width": 800
  },
  {% endif %}
  "datePublished": "{{ page.date }}",
  "author": {
    "@type": "Person",
    "name": "Bryan L. Robinson"
  },
   "publisher": {
    "@type": "Organization",
    "name": "Bryanlrobinson.com",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url | replace "/", "" }}/images/logo.png",
      "width": 70,
      "height": 20
    }
  },
  "description": "{{ page.description | escape }}"
}
</script>
{% endif %}
<script>
    if (navigator.serviceWorker && !navigator.serviceWorker.controller) { navigator.serviceWorker.register('/service-workers.js'); }
</script>
</body>
</html>
