---
title: Blog Posts
permalink: "/blog/"
layout: interior
---

<section class="article-posts">
{% for post in site.posts %}
    <article class="related-article {% if forloop.first %}related-article--first{% endif %}">
        <time class="date">{{ post.date | date:"%d %b, %Y" }}</time>
        <h3 class="stripe_headline"><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <div class="stripe_description">
            <p>{{ post.description }}</p>
            <a href="{{ post.url }}" title="{{ post.title }}">Read More &raquo;</a>
        </div>
    </article>
{% endfor %}
</section>
