<section class="header-promo">
    <h4 class="header-promo__text">🎉 Get up to speed with CSS Grid with my Practical CSS Grid course. <a title="Click over to the Course homepage for Practical CSS Grid" target="_blank" href="https://store.codecontemporary.com/practical-css-grid">Sign up for 50% off now&nbsp;&raquo;</a></h4>
</section>
<header class="post-head post-head--article">
        <h1 class="post-head__head">{{ page.title }}</h1>
        {% if page.subhead %}<h2 class="post-head__subhead">{{ page.subhead }}</h2>{% endif %}
        {% if page.is_post %}
            {% if page.date %}<h6 class="post-head__meta post-meta">Posted on {{ page.date | date:"%d %b, %Y" }}{% if page.updated %} | <em>Updated on {{ page.updated }}</em>{% endif %}</h6>{% endif %}
            {% if page.categories %}<h6 class="post-head__meta post-meta">Posted in {% for category in page.categories %}{% unless category == "CSS Can Do What" %} <a href="/category/{{ category | replace ' ', '-' }}/">{{ category }}</a>{% if forloop.last %}{% else %},{% endif %} {% endunless %}{% endfor %}</h6>{% endif %}
        {% endif %}
</header>
