{% include header.html %}
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>


    <img src="/images/bryan-and-link.jpg" class="banner__headshot" alt="This is Bryan's Headshot. He's kind of a dweeb."></aside>

    <h3 class="tagline">Bryan Robinson - HTML, CSS and JS Evangelist</h3>
        
    <div class="banner">
        <h1 class="main-headline">{{ page.headline }}</h1>

        <p>I've been in the industry for over a decade now, and I have learned to embrace my professional passions. That's why I care strongly about new web layout, <a href="http://tinyletter.com/code-contemporary">Contemporary Code</a> and building up the developer and designer communities around me.</p>
    </div>

    <div class="latest-post">
        {% for post in site.posts limit:1 %}
              <h5 class="latest-post__title">Latest Post</h5>
              <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
              <p>{{ post.description }}</p>
      
        {% endfor %}
    </div>

    <div class="course-promo ad-space">
        <img class="ad-space__image" src="/images/cc-logo.png" alt="Code Contemporary Logo">
        <h4 class="ad-space__headline"><a href="https://store.codecontemporary.com/practical-css-grid">Practical CSS Grid</a></h4>
        <p class="ad-space__description">You've heard about CSS Grid layout, but if you haven't gotten started with it, let me walk you through all its features in a simple, practical approach. By the end of this course, you'll understand Grid and have practical examples to put into production right away!
        </p>
        <a class="ad-space__button" href="https://store.codecontemporary.com/practical-css-grid">Sign Up Now</a>
    </div>


<div class="promo-ad" style="margin: 0 .75rem 1rem;">

  <h4 class="promo-ad__title">A few more posts</h4> 
    
  <div class="article-posts">
      {% for post in site.posts limit:3 offset:1 %}
      
          <div class="related-article">
              <h5><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h5>
              <p>{{ post.description }}</p>
          </div>

      
      {% endfor %}
  </div>
</div>
</div><!-- end body grid from header -->
{% include footer.html %}
