---
title: Speaking Topics and Upcoming Events
permalink: "/speaking/"
layout: interior
comments: 'off'
baseLayout: container--full
---

<section class="upcoming">
    <h2>Upcoming Events</h2>
    <table class="events">
        <tr class="event">
            <td><strong>Workshop: Practical CSS Grid</strong></td>
            <td>MagnoliaJS 2019</td>
            <td>April 17-18, 2019</td>
            <td><a href="https://magnoliajs.com/">See more</a></td>
        </tr>
        <tr class="event">
            <td><strong>Join the CSS Future with CSS Grid</strong></td>
            <td>Revolution Conf 2019</td>
            <td>June 6-7, 2019</td>
            <td><a href="http://revolutionconf.com">See more</a></td>
        </tr>
        <tr class="event">
            <td><strong>Workshop: Practical CSS Grid</strong></td>
            <td>KCDC 2019</td>
            <td>July 17-19, 2019</td>
            <td><a href="https://www.kcdc.info/">See more</a></td>
        </tr>
    </table>
</section>

<form class="speaking-contact" netlify netlify-honeypot="bot_capture" name="speaking" action="/thanks/">
    <h2>Invite me to speak</h2>
    <label for="full_name">What should I call you? *</label>
    <input type="text" required name="full_name" id="full_name">

    <label for="__replyto">What's your email address? *</label>
    <input type="email" required name="__replyto" id="__replyto">

    <label for="organization">What conference or company are you with?</label>
    <input type="text" name="organization" id="organization">

    <fieldset>
        <legend>What should I present?</legend>
        {% for presentation in site.presentations %}{% if presentation.draft != true %}<label for="{{ presentation.title | slugify }}"><input type="checkbox" name="{{ presentation.title | slugify }}" id="{{ presentation.title | slugify }}" value="{{ presentation.title }}"> {{ presentation.title }}</label>{% endif %} {% endfor %}
        <label for="something-special"><input type="checkbox" name="something-special" id="something-special" value="Special"> Something Special</label>
    </fieldset>

    <label for="message">What else should I know?</label>
    <textarea id="message" name="message" rows="4" cols="80"></textarea>
    
    <input type="hidden" name="page" id="page" value="{{ page.url }}">
    <div style="display: none;">
        <label for="bot_capture">Don't fill this out</label><input name="bot_capture" type="text">
    </div>
    <input type="submit" value="Start the Conversation">
</form>



<main class="speaking-grid">
        {% for presentation in site.presentations reversed %}
        {% if presentation.draft != true %}
            <article class="stripe item {% cycle  'primary', 'deep', 'neutral' %} container--{% cycle 'right', 'center', 'left' %} {{ presentation.grid-size }}">
                <h2><a href="{{ presentation.url }}">{{ presentation.title }}</a></h3>
                <div class="description">
                    <p>{{ presentation.description }}</p>
                    <a href="{{ presentation.url }}" title="{{ presentation.title }}">Read More &raquo;</a>
                </div>
            </article>
            {% endif %}
        {% endfor %}
</main>
   
