



.body-grid {
    max-width: 900px;
    margin: 0 1rem;

    @media (min-width: 950px) {
        margin: 0 auto;
        @supports (display: grid) {
            max-width: 100%;
            margin: initial;
        }
        display: grid;
        grid-template-rows: 
            [nav-start image-start] 
            minmax(100px, auto) 
            [nav-end banner-start banner-content-start] 
            minmax(100px, auto) 
            [banner-content-end latest-article-start]
            minmax(100px, auto)
            [banner-end] 
            minmax(100px, auto) 
            [image-end promo-start ]
            50px
            [latest-article-end]
            minmax(100px, auto)
            [promo-end];
        grid-template-columns: 
            [full-width-start] 
            75px 
            [banner-start]
            1fr
            [promo-start] 
            1fr 
            [nav-start] 
            1fr 
            [image-end banner-content-start] 
            .5fr
            [promo-end] 
            1.5fr 
            [banner-end nav-end  banner-content-end] 
            1rem 
            [full-width-end];
        grid-gap: 1rem;
    }
    .site-header {
        grid-area: nav;
        background-color: white;
        margin: 1rem 0 1rem;
        align-self: center;
        padding: .75rem 0;
        &::after {
            display: none;
        }
        @media (min-width: 950px) {
            margin-bottom: 0;
        }
        @media (max-width: 1550px) {
            grid-column-start: promo-start;
        }
        @media (max-width: 1028px) {
            grid-column-start: banner-start;
        }
    }    
    .site-nav__promo {
        transform: translateY(0);
    }
    .site-nav {
        align-items: center;
    }
}

@media (min-width: 950px) {

    @supports (display: grid) {
        .body-grid::after {
            grid-area: banner;
            border: 5px solid;
            border-image: linear-gradient(120deg,#eaee44,#33d0ff) 1;
            content: "";
        }
    }
}
.tagline {
    grid-column-start: full-width-start;
    grid-column-end: banner-start;
    grid-row-start: banner-start;
    grid-row-end: banner-end;
    justify-self: end;
    @media (min-width: 950px) {

        @supports (display: grid) {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            color: $white;
            text-shadow: -1px 2px 0 $black;
        }
    }
}
.banner {
    grid-area: banner-content;
    @media (min-width: 950px) {
        @supports (display: grid) {
            padding: 1rem 1rem 0 0;
        }
    }
}
.banner__headshot {
    grid-column-start: full-width-start;
    grid-column-end: image-end;
    grid-row-start: image-start;
    grid-row-end: image-end;
    z-index: -1;
    width: 100%;
    display: none;
    object-fit: cover;
    object-position: left top;
    @media (min-width: 950px) {
        @supports (display: grid) {
            display: block;
            height: 100%;
            background-color: $black;
            mix-blend-mode: multiply;
        }
    }
   
}
.latest-post {
    grid-row-start: latest-article-start;
    grid-row-end: latest-article-end;
    grid-column-start: banner-content-start;
    grid-column-end: banner-content-end;
    align-self: start;
    margin-bottom: 1rem;
    z-index: 10;
    @include gradient-border(5px, $padding: 1rem);
    @media (min-width: 950px) {
        @supports (display: grid) {
            margin: 0 1rem 0 0;
        }
    }
    &__title {
        font-size: .65rem;
        text-transform: uppercase;
        margin-bottom: 0;
    }
}
.promo-ad {
    grid-column-start: full-width-start;
    grid-column-end: full-width-end; 
}
.course-promo {
    grid-area: promo;
    @include gradient-border(5px, $padding: 1rem);
    align-self: end;
    z-index: 0;
}