.videos {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
}

.video {

    &__thumb {
        width: 100%;
        height: 18vw;
        object-fit: cover;
    }
}
