{% include header.html %}
{% include interior-content-head.html %}
<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5a6f5f061c5d590013b4dfda&product=inline-share-buttons"></script>


{% for mention in site.data.webmentions[page.slug] %}    
    {% if mention.content %}
    <div class="mention content">
        {{ mention.author.name }} on {{ mention.published | date:"%d %b, %Y"  }}
        <p>{{ mention.content.html }}</p>
    </div>
    {% else if mention.like-of %}
        <div class="mention content">
            {{ mention.author.name }} liked this around {{ mention.wm-received | date:"%d %b, %Y" }}
        </div>
    {% endif %}

{% endfor %}

    <main class="article container page-indent {{ page.baseLayout }}">
        <div class="share-this sharethis-inline-share-buttons"></div>
        
        
        {{ content | markdownify }}
        {% unless page.comments == "off" %}
        <div class="promo-ad">

            <h4 class="promo-ad__title">You May Also Enjoy</h4> 
              
            {% assign maxRelated = 3 %}
            {% assign minCommonTags =  1 %}
            {% assign maxRelatedCounter = 0 %}
            <div class="promo-ad__posts article-posts">
                {% for post in site.posts %}
                
                    {% assign sameTagCount = 0 %}
                    {% assign commonTags = '' %}
                
                    {% for category in post.categories %}
                    {% if post.url != page.url %}
                        {% if page.categories contains category %}
                        {% assign sameTagCount = sameTagCount | plus: 1 %}
                        {% capture tagmarkup %} <span class="label label-default">{{ category }}</span> {% endcapture %}
                        {% assign commonTags = commonTags | append: tagmarkup %}
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                
                    {% if sameTagCount >= minCommonTags %}
                        <div class="related-article">
                            <h5><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h5>
                            <p>{{ post.description }}</p>
                        </div>
                    {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
                    {% if maxRelatedCounter >= maxRelated %}
                        {% break %}
                    {% endif %}
                    {% endif %}
                
                {% endfor %}
            </div>
        </div>

        <aside class="comments">
            <div id="disqus_thread"></div>
        </aside>

        <script>
            var disqus_shortname = 'bryanrobinson';
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        {% endunless %}
        

    {% if page.collection == "presentations" %}
        {% include presentation-list.html %}
    {% endif %}


{% include footer.html %}
